<div class="container">

  <h3>
    <%= @article.title %>
  </h3>

  <div class="text">
    <%= @article.text %>
  </div>

  <div class="posted-on">
    Posted on: <%= @article.created_at %>
  </div>

  <div class="comments">
    <h4>Comments</h4>
    <%= render @article.comments %>
  </div>

  <div class="add-comment">
    <h4>Add a comment:</h4>
    <%= render 'comments/form' %>
  </div>

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>

</div>